# Modelos y métricas
models/*.pkl
models/*.json

# Datos generados
data/raw/*.csv
data/live/latest.json

# Archivos de Streamlit
.streamlit/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entornos virtuales
venv/
env/
.venv/
.env

# IDEs
.vscode/
.idea/
*.suo
*.user

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs y temporales
*.log
*.tmp

# Pruebas y cobertura
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

#Exposicion
contexto_exposicion.md
Link GitHub e Integrantes.txt
metricas_ingenieria_software.pdf
MicroclimaCompleto.pptx
presentacion-cobertura.html
exposicion-cobertura-pruebas.html

