# Modelos y métricas
models/*.pkl
models/*.json

# Datos generados
data/raw/*.csv
data/live/latest.json

# Archivos de Streamlit
.streamlit/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entornos virtuales
venv/
env/
.venv/
.env

# IDEs
.vscode/
.idea/
*.suo
*.user

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs y temporales
*.log
*.tmp

#Exposicion
contexto_exposicion.md
